
.contenedornav{
    width: 100%px;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 185, 136, 0.702);
   
  }
  a{
   
    margin-left: 100px;
    font-size: 20px;
    
  }

 